body
{
	font-family: sans-serif;
	line-height: 1.45em;
}

h1
{
	font-size: 2.5em;
}

.credits:before
{
	content: " ";
	display: inline-block;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTggMEMzLjU4IDAgMCAzLjU4IDAgOEMwIDExLjU0IDIuMjkgMTQuNTMgNS40NyAxNS41OUM1Ljg3IDE1LjY2IDYuMDIgMTUuNDIgNi4wMiAxNS4yMUM2LjAyIDE1LjAyIDYuMDEgMTQuMzkgNi4wMSAxMy43MkM0IDE0LjA5IDMuNDggMTMuMjMgMy4zMiAxMi43OEMzLjIzIDEyLjU1IDIuODQgMTEuODQgMi41IDExLjY1QzIuMjIgMTEuNSAxLjgyIDExLjEzIDIuNDkgMTEuMTJDMy4xMiAxMS4xMSAzLjU3IDExLjcgMy43MiAxMS45NEM0LjQ0IDEzLjE1IDUuNTkgMTIuODEgNi4wNSAxMi42QzYuMTIgMTIuMDggNi4zMyAxMS43MyA2LjU2IDExLjUzQzQuNzggMTEuMzMgMi45MiAxMC42NCAyLjkyIDcuNThDMi45MiA2LjcxIDMuMjMgNS45OSAzLjc0IDUuNDNDMy42NiA1LjIzIDMuMzggNC40MSAzLjgyIDMuMzFDMy44MiAzLjMxIDQuNDkgMy4xIDYuMDIgNC4xM0M2LjY2IDMuOTUgNy4zNCAzLjg2IDguMDIgMy44NkM4LjcgMy44NiA5LjM4IDMuOTUgMTAuMDIgNC4xM0MxMS41NSAzLjA5IDEyLjIyIDMuMzEgMTIuMjIgMy4zMUMxMi42NiA0LjQxIDEyLjM4IDUuMjMgMTIuMyA1LjQzQzEyLjgxIDUuOTkgMTMuMTIgNi43IDEzLjEyIDcuNThDMTMuMTIgMTAuNjUgMTEuMjUgMTEuMzMgOS40NyAxMS41M0M5Ljc2IDExLjc4IDEwLjAxIDEyLjI2IDEwLjAxIDEzLjAxQzEwLjAxIDE0LjA4IDEwIDE0Ljk0IDEwIDE1LjIxQzEwIDE1LjQyIDEwLjE1IDE1LjY3IDEwLjU1IDE1LjU5QzEzLjcxIDE0LjUzIDE2IDExLjUzIDE2IDhDMTYgMy41OCAxMi40MiAwIDggMFoiIHRyYW5zZm9ybT0ic2NhbGUoNjQpIiBmaWxsPSIjMDAwMDAwIi8+Cjwvc3ZnPgo=);
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #fff;
	background-size: 25px 25px;
	width: 35px;
	height: 25px;
	filter: invert(1);
	float: left;
}
.credits
{
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 0.5em 1em 0.5em 0.75em;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	display: inline-block;
}


section
{
	clear: both;
	margin: 2em 0;
	float: left;
}

.latest h2:before
{
	content: "\1F4C9\0020";
}

h2
{
	font-size: 2em;
	font-weight: bold;
	clear: both;
	padding: 0;
	margin: 0 0 1em 0;
	float: left;
	width: 100%;
}

h2:after
{
	content: ":"
}

h2 > a
{
	color: #000;
}

wl-product
{
	display: inline-block;
	width: 350px;
	height: 200px;
	overflow: hidden;
	margin: 0 1em 1em 0em;
	float: left;
}

wl-product img
{
	float: left;
}

wl-info
{
	float: left;
	display: block;
	width: 200px;
}

wl-product figure
{
	float: left;
	display: block;
	max-width: 150px;
	padding: 0;
	margin: 0;
}

wl-title
{
	display: block;
	margin: 0.75em 0 0 0;
}

wl-by
{
	margin: 0.3em 0 0 0;
	display: block;
	font-style: italic;
	opacity: 0.5;
	line-height: 1.2;
}

wl-by:before
{
	content: '\2014\0020';
	content: 'by ';
}

wl-price
{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
}


wl-product[data-priority="2"]  { color: orange; }
wl-product[data-priority="1"]  { color: red; }
wl-product[data-priority="-1"] { color: #ccc; }
wl-product[data-priority="-2"] { color: #ccc; }




